




.body{
  background-color: #f1f1f1;
}

.nav-main{
  width: 100%;
  height: 60px;
  background-color:#FFF;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}


.btn-toggle-nav{
width: 60px;
height: 100%;
background-color: #f98f39;
background-image: url("images/button1.png");
background-repeat:no-repeat;
background-size: 40%;
background-position: center;
cursor: pointer;
}

.nav-main ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li{
 
}

.nav-main ul a{
  }